h2{
  font-size: 2em;
  text-align: center;
  color: #382f35;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
ul li input{
  background: transparent;
  border: none;
  outline: none;
  width: 70%;
  box-shadow: inset -2px -2px 2px #fff7,
              inset 2px 2px 2px #0002;
}