ul li .row{
  float: right;
}
ul li .row{
  color: black;
  margin-left: 15px;
  cursor: pointer;
}
ul li .row i:hover{
  color: maroon;
}
.active{
  animation: del 0.3s linear;
}
@keyframes del{
  to{
    opacity: 0;
    transform: rotate(15deg) skew(25deg) scale(0);
  }
}
